@import "./header.css";
@import "./footer.css";

.layout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 6rem 1fr 22rem; 
}

:root {
    overflow-x: hidden;
    height: 100%;
    font-size: 62.5%;
}