@import "./header.css";
@import "./footer.css";

.layout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 7rem 1fr 22rem; 
}

.content {
    background-color: var(--color__grey-light);
}
