@font-face {
    font-family: glacial;
    src: url(GlacialIndifference-Regular.otf);
}
#root {
    min-height: 100%;
    position: relative;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    overflow-x: hidden;
    height: 100%;
    font-size: 62.5%;
}

*,*::before,*::after {
    box-sizing: border-box;
}


@import "./components/index.css";
@import "./layout/index.css";
@import "./presentation/index.css";