
.jumbotron.customJumbo.jumbotron {
    padding: 10px 30px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.socialList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid #444;
}