
.jumbotron.customJumbo.jumbotron {
    padding: 10px 30px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.socialList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.social-icon {
    margin-right: 1rem;
}

hr {
    border-top: 1px solid #444;
}

.jumbotron>hr {
    border-top-color: unset;
}

.sk-double-bounce {
    width: 80px;
    height: 80px;
    position: relative;
}

.loadDiv {
    display: flex;
    justify-content: center;
}

p {
    font-size: 16px;
    font-family: Lato !important;
}
.jumbotron h1{
    font-variant: small-caps;
    font-family: glacial !important;
    font-size: 50px !important;
    letter-spacing: 0.1em;
}

.home-card,.home-card2 {
    flex:1 0 auto;
    position: relative;
    display: flex;
    height: 20rem;
    color:#fff;
    cursor:pointer;
    
}

.home-card img,.home-card2 img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: 100%;
}

.home-card .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: left;
    padding-left: 1rem;
}

.home-card2 .content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: right;
    padding-right: 1rem;
}

.home-card .bg, .home-card2 .bg {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.7);
}

 .home-card2 .bg {
    justify-content: flex-end;
}

.home-card button, .home-card2 button {
    font-family: lato;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: #fff;
    border-width: 1px;
    transition: 0.25s ease-in-out all;
    cursor:pointer;
    border-radius:4px;
}

.home-card a, .home-card2 a {
    cursor:pointer;
}

.home-card button:hover, .home-card2 button:hover{
    background-color: #fff;
    color:darkblue;
}
.home-card p,.home-card2 p {
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 1024px) {
    .home-card,.home-card2 {
        width:100%;
        
    }
}

@media only screen and (max-width: 700px) {
    .home-card p,.home-card2 p {
        font-size: 1.4rem;
        line-height: 1.6rem;   
    }

    .home-card .content, .home-card2 .content {
        width:100%;
    }

}