.gameEvent3 {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.gameEvent3 div {
    display: inline;
    text-align: center;
    border-radius: 25px;
    margin-right: 10px;
    padding: 3px;
    border: 2px solid white;
    color: #fff;
}

.pM{
    background-color: #B493C5;
}
.Melee{
    background-color: #F0092B;
}
.S4{
    background-color: #002F63;
}
.S64{
    background-color: #1ea03f;
}