
.carImg {
    max-height: 500px;
    width: 100%;
}

.carousel {
    margin-bottom: 21px;
}

@media (min-width: 768px) {
    .carousel-caption {
        left: 0;
        right: 0;
        bottom: 0;
    }

    .carousel-indicators{
        bottom: 0;
    }
}
@media (max-width: 768px) {
    .carousel-caption {
        width: 100%;
        left: 0%;
        right: 0%;
    }
    .edmLocation {
        display:none;
    }
    .cgyLocation {
        display:none;
    }
    .gameEvent div{
        display:none !important;
    }
    span.tourneyWarning.glyphicon.glyphicon.glyphicon-exclamation-sign {
        display:none;
    }
}

.carousel-caption{
    padding: 10px;
    background: rgba(0,0,0,0.6);
    text-shadow: none;
    padding-bottom: 25px;
}

.edmLocation {
    background-color: #002F63;
    color: white;
    top: 45px;
    right: -61px;
    z-index: 3;
    padding: 5px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 280px;
}

.cgyLocation {
    background-color: #F0092B;
    color: white;
    top: 45px;
    right: -61px;
    z-index: 3;
    padding: 5px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 280px;
}

.gameEvent {
   position: absolute;
   top: 10px;
   z-index: 3;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   
}

.gameEvent div {
    display: inline;
    text-align: center;
    border-radius: 25px;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid white;
}

span.tourneyWarning.glyphicon.glyphicon.glyphicon-exclamation-sign {
    font-size: 1.2em;
    z-index: 10;
}




.pM{
    background-color: #B493C5;
}
.Melee{
    background-color: #F0092B;
}
.S4{
    background-color: #002F63;
}
.S64{
    background-color: #1ea03f;
}