.gameEvent3 {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   padding: 5px;
   padding-right: 25px;
   text-shadow: none;
   font-variant: small-caps;
   flex-wrap: wrap;
}

.gameEvent3 h3:not(:first-child) {
    border-left: 5px solid #FFA200;
    padding-left: 25px;
}

.gameEvent3 h3 {
    padding-right: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-default {
    border-right: 2px solid #e2e2de;
    border-bottom: 2px solid #e2e2de;
}

@media screen and (max-width: 525px) {
    .gameEvent3  {
        display:none;
    }

}

@media screen and (max-width: 1000px) {

    .dateHeader {
        text-align: left !important;
    }
}