.footer {
    background-color: #444;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top:50px;
}

.footer-link-list {
    column-rule: 2px solid #BA694C;
    border-left: 2px solid #BA694C;
    padding-left: 3em;
    columns: 4 150px;
    column-gap: 5em;
}

.footerContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
