.footer {
    background-color: #1986FF;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top:50px;
    color: #fff;
}

.footer-link-list {
    column-rule: 2px solid #FFA200;
    border-left: 2px solid #FFA200;
    padding-left: 3em;
    columns: 4 150px;
    column-gap: 5em;
}

.footerContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-link-list > .clickable {
    color:#d5d5d5;
}

.footer-link-list > .clickable:hover {
    color:#fff;
}

