@media (min-width: 768px) {
    .mainMenu .navbar-nav {
        float: none;
        vertical-align: top;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .mainMenu .navbar-collapse {
        text-align: center;
    }
    
}

@media (max-width: 1000px) {
    .footerContainer {
        display: none;
    }

    .bodyContent {
        padding-bottom: 50px !important;
    }

}


nav {
    background-color: #1986FF !important; 
    font-variant: small-caps;
    letter-spacing: 0.1em;
}
.navbar{
    border: none;
    
}
/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#0079FF !important;
}

.navbar-default .navbar-toggle {
    background-color:#0079FF !important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}


.bodyContent {
    padding-bottom: 350px;
}

.clickable {
    cursor: pointer;
}

.panel-primary > .panel-heading {
     background-color:#0079FF !important;
}