@media (min-width: 768px) {
    .mainMenu .navbar-nav {
        float: none;
        vertical-align: top;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .mainMenu .navbar-collapse {
        text-align: center;
    }
    
}

@media (max-width: 1000px) {
    .footerContainer {
        display: none;
    }

    .bodyContent {
        padding-bottom: 50px !important;
    }

}


nav {
    background-color: #002F63 !important;
}

.bodyContent {
    padding-bottom: 350px;
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
}